doctype html
html
  head
    title
    include ../includes/link.pug
  body
    div
        h1 &nbsp;
    div(class="ui large header centered") Browse words
    div
        h1 &nbsp;
    // /admin/details/:word for details of the word
    // /admin/delete/:word to delete the word from DB
    div(class="ui container")
        div(class="ui four column grid")
            div(class="one wide column")
                div(class="ui relaxed list")
                    each item in list
                        div(class="content")
                            a(href="/admin/details/" + item.word)
                                h3= item.word
                        
            div(class="three wide column")
                h1 Hello world
    br
    a(href="/admin/add") Add